.primary {
  width: 100%;
  background-color: rgb(6, 150, 215);
  color: white;
  border: none;
  border-radius: 5px;
  line-height: 20px;
  cursor: pointer;
  height: 40px;
  text-transform: capitalize;
}
.btn-container {
  margin-top: 20px;
}
